.box {
  margin: 40px;
  border: 1px solid rgb(7, 173, 137);
  height: 200px;
}

.hidden-link {
  display: none;
}

.box:hover .hidden-link {
  display: inline-block;
  color: rgb(126, 223, 223);
}

a:link {
  text-decoration: none;
}
